{% extends "index.html" %}

{%block contenido%}
<div class="container">
    <div class="title text-center">
        <h1 class="title-blue">RESULTADOS MONTECARLO</h1>
    </div>
    <div class="row">
        <div class="table-responsive-sm col-md-8">
            {{data | safe}}
        </div>
        <div class="col-md-1"></div>
        <div class="table-responsive-sm col-md-3">
            {{random | safe}}
        </div>
    </div>
    
</div>

{% endblock%}