{% extends "index.html" %}

{%block contenido%}
<div class="container">
    <div class="title text-center">
        <h1 class="title-blue">RESULTADOS ALISAMIENTO EXP</h1>
    </div>
    <div class="table-responsive-sm">
        {{data | safe}}
    </div>
        
    <img class="mx-auto d-block" src="/metodos_probabilisticos/AEX_grafico/"  width="600px" />
        
</div>

{% endblock%}
