{% extends "index.html" %}

{%block contenido%}
<div class="container">
    <div class="title text-center">
        <h1 class="title-blue">ALISAMIENTO EXPONENCIAL</h1>
    </div>
    <form action="/metodos_probabilisticos/AEX_resultado/" method="POST">{% csrf_token %}
        <input  class="btn btn-sec btn-block m-4"  type="number" step="0.01" name="dominio" placeholder="Ingrese el Dominio" min="0" max="1" required>
        <input class="btn btn-dark btn-block m-4" type="submit">
    </form>
    {{valores}}
    
</div>

{% endblock %}
