{% extends "index.html" %}


{%block contenido%}
<div class="container">
    <div class="title text-center">
        <h1 class="title-blue">ALISAMIENTO EXPONENCIAL</h1>
    </div>
    <form action="/metodos_probabilisticos/AEX_valor_muestras/" method="POST">{% csrf_token %}
        <input  class="btn btn-sec btn-block m-4"  type="number" name="muestra"placeholder="Ingrese la cantidad de N Muestras a Generar" required>
        <input class="btn btn-dark btn-block m-4" type="submit">
    </form>
    
</div>

{% endblock%}
