{% extends "index.html" %}

{%block contenido%}
<div class="container">
    <div class="title text-center">
        <h1 class="title-blue">LINEAS DE ESPERA MONTECARLO</h1>
    </div>
    <form action="/modelos_simulacion/lineas_espera_montecarlo/" method="POST">{% csrf_token %}
        <input  class="btn btn-sec btn-block m-5"  id="cantidad" type="number"  name="cant_tiempo" placeholder="Ingrese la cantidad de tiempos de llegada" min="1" max="30" required>
        <input class="btn btn-dark btn-block m-5" type="submit">
        <div id="tiempos" class="btn-block ml-4"></div>
    </form>

    <script>
        document.getElementById("cantidad").addEventListener("keyup", inputsTiempos);        
        function inputsTiempos(){
            cantidad = parseInt(document.getElementById("cantidad").value);
            ingreso="";

            for(i=1; i <= cantidad; i++){
                
                ingreso += `<input  class="btn btn-sec m-4 col-md-5"  id="cantidad" type="number" step="0.01" name="tiempo_llegada" placeholder="Ingrese los tiempos entre llegadas" required>`;
                
            }                
            document.getElementById("tiempos").innerHTML = ingreso;
        }
    </script>
    
    
</div>

{% endblock %}
