{% extends "index.html" %}

{%block contenido%}
<div class="container">
    <div class="title text-center">
        <h1 class="title-blue">LINEAS DE ESPERA MONTECARLO</h1>
    </div>
    <form action="/modelos_simulacion/LE_montecarlo/" method="POST">{% csrf_token %}
        <input  class="btn btn-sec btn-block m-4"  type="number" name="iteraciones" placeholder="Ingrese Numero N Iteraciónes a Generar" required>
        <input class="btn btn-dark btn-block m-5" type="submit">
    </form>    
</div>

{% endblock %}

