{% extends "index.html" %}

{%block contenido%}
<div class="container">
    <div class="title text-center">
        <h1 class="title-blue">LINEAS ESPERA MONTECARLO</h1>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="table-responsive-sm">
                {{llegada | safe}}
            </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5">
            <div class="table-responsive-sm">
                {{servicio | safe}}
            </div>
        </div>
        
    </div>
    
</div>

<div class="container-fluid">
    <div class="title text-center mt-5 mb-5">
        <h1 class="title-blue">RESULTADOS SIMULACIÓN</h1>
    </div>
    <div class="table-responsive-sm">
        {{data | safe}}
    </div>
        <!--<img class="mx-auto d-block" src="/modelos_simulacion/ls_resultado/grafica"  width="600px" />       -->
</div>

{% endblock%}
