{% load static %}
<!doctype html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <title>{{titulo}}</title>
    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i%7CRajdhani:400,600,700"
        rel="stylesheet">
    

    <link rel="stylesheet" href="/media/static/css/font-awesome/font-awesome.css">
    <link rel="stylesheet" href="/media/static/css/bootstrap.css">
    <link rel="stylesheet" href="/media/static/css/swiper/swiper.css">
    
    <link rel="stylesheet" href="/media/static/css/style.css">
    
    <link rel="stylesheet" href="/media/static/css/responsive.css">

    <style>
        .btn-sec{
            background-color: #F0EDED;
            border: 3px solid #21586F
        };
    </style>

</head>

<body>
    <header class="position-absolute w-100 " >
        <div class="container">
            
            <nav class="navbar navbar-expand-md navbar-light ">
                
                <a class="navbar-brand" href="/"><h1>FACCI </h1></a>
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link" href="https://drive.google.com/file/d/1DcgKwMk0drjgiDCYbaw-hfVZADPpT-3T/view?usp=sharing"target="_blank">Manual De Usuario</a></li>
                       
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    
    <section class="hero">
        <div class="container">
            <div class="row">
                <div class="col-12 offset-md-1 col-md-11">
                    <div class="swiper-container hero-slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide slide-content d-flex align-items-center" height="300px">
                                <div class="single-slide">
                                    <h1>Técnicas de Simulación</h1>
                                    <p><strong> Bienvenidos a la plataforma interactiva para resolver métodos de simulación</strong></p>
                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </section>
    
    <section class="pricing-table" id="contenido">
        
        {%block contenido%}
        <div class="container">
            <div class="title text-center">
                <h1 class="title-blue">MÉTODOS DE SIMULACIÓN</h1>
            </div>
            
            <div class="row">
                
                <div class="col-md-4">
                    <div class="single-pricing text-center">
                        <h2>Métodos Probabilísticos</h2>
                        <img src="/media/images/probabilistico.jpg" width="100%" height="150px" alt="">
                        <br><br>
                        <a href="/metodos_probabilisticos/promedio_movil/" class="btn btn-primary btn-block">Promedio Móvil</a>
                        <a href="/metodos_probabilisticos/alisamiento_exp/" class="btn btn-primary btn-block">Alisamiento Exponencial</a>                        
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="single-pricing text-center">
                        <h2>Métodos de Regresión</h2>
                        <img src="/media/images/regresion.jpg" width="100%" height="150px" alt="">
                        <br><br>
                        <a href="/metodos_regresion/regresion_lineal/" class="btn btn-primary btn-block">Regresión Lineal</a>
                        <a href="/metodos_regresion/regresion_nolineal/" class="btn btn-primary btn-block">Regresión no Lineal</a>
                        
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-pricing text-center">
                        <h2>Métodos de Simulación</h2>
                        <img src="/media/images/simulacion.jpg" width="100%" height="150px" alt="">
                        <br><br>
                        <a href="/metodos_simulacion/montecarlo/" class="btn btn-primary btn-block">Montecarlo</a>
                        <a href="/metodos_simulacion/transformada_inversa/" class="btn btn-primary btn-block">Transformada Inversa</a>
                    </div>
                </div>
                
                <div class="col-md-4">
                    <div class="single-pricing text-center">
                        <h2>Métodos Randoms</h2>
                        <img src="/media/images/random.jpg" width="100%" height="150px" alt="">
                        <br><br>
                        <a href="/metodos_randoms/cuadrado_medio/" class="btn btn-primary btn-block">Cuadrado Medio</a>
                        <a href="/metodos_randoms/metodo_aditivo/"  class="btn btn-primary btn-block">Congruencial Aditivo</a>
                        <a href="/metodos_randoms/metodo_multiplicativo/" class="btn btn-primary btn-block">Congruencial Multiplicativo</a>
                        
                    </div>
                </div>
                
                <div class="col-md-4">
                    <div class="single-pricing text-center">
                        <h2>Modelos de Simulación</h2>
                        <img src="/media/images/modelos-simulacion.jpg" width="100%" height="150px" alt="">
                        <br><br>
                        <a href="/modelos_simulacion/lineas_espera/" class="btn btn-primary btn-block">Lineas de Espera</a>
                        <a href="/modelos_simulacion/lineas_espera_montecarlo/" class="btn btn-primary btn-block">Lineas de Espera M.Carlo</a>
                        <a href="/modelos_simulacion/m_inventario/" class="btn btn-primary btn-block">Modelo de Inventario</a>
                        
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-pricing text-center">
                        <h2>Modelos de Simulación de la Vida Real</h2>
                        <img src="/media/images/lineas-espera-real.jpg" width="100%" height="230px" alt="">
                        <br><br>
                        <a href="/modelo_real/Rlineas_espera/" class="btn btn-primary btn-block">Lineas de Espera Gasolinera</a>                        
                    </div>
                </div>
            </div>
        </div>
            {% endblock %}
        
    </section>
    
    <footer>
        <!--<div class="footer-widgets">
            <div class="container">
                <div class="row">
                    
                </div>
            </div>
        </div>-->
        
        <div class="foot-note">
            <div class="container">
                <div
                    class="footer-content text-center text-white text-lg-left d-lg-flex justify-content-between align-items-center">
                    <h5 class="mb-0">&copy; 2020 Técnicas de Simulación </h5>
                    <p class="mb-0">Ramirez Montanero Edwin Johan - García Pico Richard Gabriel</p>
                    <p class="mb-0">Tutor: Ing Jorge Moya</p>            
                </div>
            </div>
        </div>
    </footer>

    <!--jQuery-->
    <script src="/media/static/js/jquery-3.3.1.js"></script> 
    <script src="/media/static/js/main.js"></script> 
    <script src="/media/static/js/bootstrap.bundle.js"></script>  
    <script src="https://kit.fontawesome.com/595e66107f.js"></script>
</body>

</html>