{% extends "index.html" %}


{%block contenido%}
<div class="container">
    <div class="title text-center">
        <h1 class="title-blue">CONGRUENCIAL MULTIPLICATIVO </h1>
    </div>
    <form action="/metodos_randoms/multiplicativo_resultado/" method="POST">{% csrf_token %}
        <div class="row">
            <input  class="btn btn-sec btn-block col-md-5 m-4"  type="number" name="numero" placeholder="Ingrese N Datos" required>
            <input  class="btn btn-sec btn-block col-md-5 m-4"  type="number" name="moderna" placeholder="Ingrese el Mod" required>
            <input  class="btn btn-sec btn-block col-md-5 m-4"  type="number" name="semilla" placeholder="Ingrese la semilla" required>
             <input  class="btn btn-sec btn-block col-md-5 m-4"  type="number" name="incremento" placeholder="Ingrese el Incremento" required>
            
        </div>
        <input class="btn btn-dark mx-auto d-block " type="submit">
    </form>
    
</div>

{% endblock%}